@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {

}
header{
    height: 1000px;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: url('/images/Home page/Backgroud-site.png') no-repeat center center;
    -webkit-background-size: cover;
    height: 80vh;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main_title_block {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 74vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Georgia;
}

.main_title {
    font-size: 48px;
    color: #EF8C39;
}
.main_sub_title {
    font-size: 24px;
    color: #BCBCBC;
}

.Big_site_logo {
    font-size: 30px !important;
    color: black;
}
.logo_icon{
    height: 4vw;
    margin-top: 20px;
    max-height: 50px;
    
  
}

.Big_site_logo:hover {
    color: black;
    text-decoration: none;
}

.nav_container {
}

.page_body_container {
    margin-top: 200px;
}

.nav_item_text {
    cursor: pointer;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    color: #819F00;
    font-size: 16px;
    padding: 5px 13px;
}

    .nav_item_text:hover {
        color: #EF8C39;
        text-decoration: none;
    }

.account_button {
    max-height: 34px;
    margin-left: 55px;
    background: #819F00;
    border-radius: 19px;
    border: none;
}

    .account_button:hover {
        background: #91B211;
    }
    .account_button:focus{
        outline: none;
    }
.user_Ntext{
    margin-bottom: 5px;
}

.account_container {
    right: 10px;
    top: 20px;
    position: absolute;
    min-width: 130px;
    width: auto;
    justify-content: end;
}

.button_text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px 16px;
    vertical-align: middle;
}

    .button_text span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: unset;
        display: inline-block;
        max-width: 135px;
        vertical-align: middle;
    }

.out_icon {
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
}

.menu_conteiner {
    text-align: center;
    background: #FFFFFF;
    border-radius: 11px;
}

.nav_item_postion {
    margin-right: 100px;
    justify-content: center;
    text-align: center;
}

    .nav_item_postion li:nth-child(1) {
        margin-top: 30px;
    }

    .nav_item_postion li:nth-child(2) {
        margin-top: 25px;
        margin-left: 5vw;
    }

    .nav_item_postion li:nth-child(3) {
        margin-top: 15px;
        margin-left: 5vw;
    }

    .nav_item_postion li:nth-child(4) {
        margin-top: 28px;
        margin-left: 5vw;
    }

.adaptive_navbar {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 55px;
    padding: .5rem 1rem;
}

.animated_menu_icon {
    height: 50px;
    margin: 0px;
    padding: 0px;
    width: 28px;
    height: 3px;
    background: #819F00;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .4s ease-in-out;
}

    .animated_menu_icon::before,
    .animated_menu_icon::after {
        margin-left: -14px;
        padding: 0px;
        content: '';
        position: absolute;
        min-width: 28px;
        height: 3px;
        background: #819F00;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .4s ease-in-out;
    }

    .animated_menu_icon::before {
        transform: translateY(-10px);
    }

    .animated_menu_icon::after {
        transform: translateY(10px);
    }

    .animated_menu_icon:hover {
        color: #EF8C39;
    }

    .animated_menu_icon.menu-opened {
        transform: translateX(50px);
        background: transparent;
        box-shadow: none;
    }

        .animated_menu_icon.menu-opened::after {
            transform: rotate(45deg) translate(-35px, 35px);
        }

        .animated_menu_icon.menu-opened::before {
            transform: rotate(-45deg) translate(-35px, -35px);
        }

#menu_button_container {
    position: absolute;
    right: 20px;
    display: none;
    background: none;
    border: none;
    min-width: 30px;
    height: 40px;
    z-index: 122;
    vertical-align: central;
    justify-content: center;
}

    #menu_button_container:focus {
        outline: none;
    }

.nav_menu {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: inline-flex;
}

.admin_panel_box {
    margin-left: 100px;
    min-width: 132px;
    max-height: 132px;
    text-align: center;
    margin-bottom: 15px;
}

.admin_panel {
    border-radius: 19px;
    text-decoration: none;
    padding: 6px 16px;
    background-color: #EF8C39;
    color: white;
}

    .admin_panel:hover {
        color: white;
        text-decoration: none;
        background-color: #FD8118;
    }
    .admin_panel:focus {
        outline: none;
    }


.years_container{
    margin: 5vh 12vw 6vh 12vw;
    font-family: Georgia;
}
.years_container:nth-child(2) {
    margin: 12vh 15vw 0vh 12vw;
    font-family: Georgia;
}
.years_container:nth-child(3) {
    margin: 2vh 15vw 5vh 12vw;
    font-family: Georgia;
}
.years_container:nth-child(4) {
    margin: 2vh 15vw 6vh 12vw;
    font-family: Georgia;
}


.years_goal {
    margin-top: 25px;
    background: url('/images/Home page/Goal.svg') center center no-repeat;
    background-size: 100% 100%;
}

.title_box {
    margin-left: 12px;
    color: #ABCD2D;
    font-size: 40px;
}

    .title_box::first-letter {
        color: #EF8C39;
    }

.goal_buttons {
    vertical-align: central;
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
    margin-left: 18vw;
}

.details_button {
    color: white;
    font-size: 16px;
    height: 40px;
    width: 160px;
    border-radius: 30px;
    border: none;
    background-color: #EF8C39;
}

    .details_button:hover {
        background-color: #FD8118;
    }
    .details_button:focus {
        outline: none;
    }

.plant_button {
    color: white;
    font-size: 18px;
    height: 45px;
    vertical-align: central;
    width: 195px;
    border-radius: 30px;
    border: none;
    margin-left: 10px;
    background-color: #819F00;
}

    .plant_button:hover {
        background-color: #91B211;
    }
    .plant_button:focus {
        outline: none;
    }

.text_container {
    margin-top: 40px;
}

.donut_single {
    margin-left: 50px;
    min-height: 250px;
    min-width: 250px;
    max-height: 260px;
    max-width: 250px;
}

.goal_texts {
    color: #ABCD2D;
    font-size: 24px;
}

    .goal_texts:nth-child(2) {
        margin-top: 15px;
    }

.goal_icon {
    color: #ef8c39;
    font-size: 45px;
}

.goal_container {
    margin-left: 6vw;
    display: inline-flex;
}

.shovel_icon {
    padding: 0px;
    margin-top: -5px;
    margin-left: 5px;
    font-size: 25px;
}




.years_container:nth-child(2) {
    margin: 12vh 15vw 6vh 12vw;
}

.help_image {
    height: 250px;
    width: 300px;
}

.images {
    margin-top: 20px;
}
    .home_titleF {
        margin-top: 40px;
    }

.svg_rood2 {
    min-width: 70px;
    display: inline-block;
    width: 8vw;
    height: 12px;
    border-radius: 12px;
    background-color: #DFF9FF;
}

.svg_rood1 {
    min-width: 130px;
    width: 13vw;
    height: 12px;
    border-radius: 12px;
    background-color: #DFF9FF;
}

.svg_rood3 {
    min-width: 25px;
    width: 3vw;
    height: 12px;
    border-radius: 12px;
    background-color: #DFF9FF;
}

.top_rood_container {
    margin-top: 20px;
}

    .top_rood_container .svg_rood1 {
        margin-left: 30vw;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top_rood_container .svg_rood2:first-child {
        margin-left: 10vw;
    }

    .top_rood_container .svg_rood2 {
        margin-bottom: 10px;
        margin-left: 8vw;
    }

.bottom_rood_container {
    margin-top: -10px;
}

    .bottom_rood_container .svg_rood2 {
        margin-left: 40vw;
    }

    .bottom_rood_container .svg_rood3 {
        margin-left: 5vw;
    }

    .bottom_rood_container .svg_rood1 {
        margin-top: 35px;
        margin-left: 15vw;
    }



.help_title {
    text-align: center;
    color: #ABCD2D;
    font-size: 26px;
}

.text_block {
    display: inline-flex;
}

.help_text_box {
    text-align: center;
    color: #BCBCBC;
    font-size: 20px;
}

.text_box {
    margin-left: 6vw;
}
.top_rood_container .svg_rood2:nth-child(2) {
    margin-left: 26vw;
    margin-bottom: 10px;
}
.top_rood_container .svg_rood2:nth-child(1) {
    margin-left: 12vw;
}
.top_rood_container .svg_rood3 {
    margin-left: 18vw;
    margin-bottom: 10px;
}
.bottom_rood_container .svg_rood1:nth-child(2){
    margin-left: 22vw;
}
.bottom_rood_container .svg_rood3:nth-child(3) {
    margin-top: -60px;
    margin-left: 8vw;
}

.map_block {
    background: url('/images/Home page/Map Bg.svg') center center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}
.control_title{
    margin: 8px 10px 8px 20px;
    display: inline-block;
}
.contol-item{
    display: inline-block;
}
.controlpanel_block {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #ABCD2D;
    border-radius: 25px;
    margin:10px 100px 15px 20px;
}
.region_button {
    display: inline-block;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
    .region_button:hover {
        background-color: white;
        color: #ABCD2D;
    }
    .region_button:focus {
        outline: none;
    }
    .region_selected {
        background-color: white;
        color: #ABCD2D;
    }


#map {
    border-radius: 25px;
    height: 70vh;
    width: 70vw;
    margin-left: 2vw;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
}



.years_container:nth-child(6){
    margin-top: 5vh;
}

.join_bg {
    background: url('/images/Home page/Join Bg.svg') center center no-repeat;
    background-size: 100% 100%;
    margin-top: 5vh;
}

.join_title {
    display: inline-block;
    max-width: 800px;
    margin-top: 5vh;
    margin-left: 12vw;
}

.sub_title {
    margin-left: -2vw;
    font-family: 'Rubik', serif;
    font-size: 56px;
    color: #ABCD2D;
}
.join_title .sub_title:nth-child(1) {
    color: #EF8C39;
}

.margin_l8 {
    margin-left: 22vw;
}

.margin_l5 {
    margin-left: 6vw;
}

.quote_container {
    margin-left: 8vw;
    margin-right: 0vw;
    margin-top: 6vh;
}

.quotes {
    font-size: 1.5vw;
}

.card_team {
    display: flex;
    height: 110px;
    width: 320px;
    max-width: 320px;
    margin-top: 25vh;
    background-color: #ABCD2D;
    border-radius: 30px;
}
.join_form {
    max-width: 320px;
    margin-left: 5vw;
}

.jointous_block {
    display: inline-flex;
}
.text_in_center {
    margin: 60px auto;
    font-family: 'Rubik', serif;
    font-size: 40px;
    color: #EF8C39;
    text-align: center;
}
.question_title {
   
    display: inline-block;
    max-width: 900px;
    margin-left: 8vw;
}
.card_q { 
    border-radius: 30px;
    background-color: #ABCD2D;
    display: grid;
    height: 250px;
    width: 30vw;
    min-width: 360px;
    justify-content: center;
}
.question_form{
    display: grid;
    margin-top: 20px;
    justify-content: center;
    margin-left: 10vw;
    margin-right: auto;
}

.question_title .sub_title:nth-child(1) {
    color: #EF8C39;
}

.second_sub_title {
    font-family: 'Rubik', serif;
    font-size: 64px;
    color: #ABCD2D;
}


.form {
    max-width: 320px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

    .form .form_item:nth-child(1) {
        margin-top: 20px;
    }

    .form .form_item:nth-child(2) {
        margin-top: 15px;
    }

.form_item {
    margin-top: 10px;
    display: inline-grid;
}
.cancel_select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.send_button {
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: #EF8C39;
    height: 40px;
    border: none;
    width: 245px;
    border-radius: 18px;
}

    .send_button:hover {
        background-color: #FD8118;
    }
    .send_button:focus{
        outline:none;
    }

.form_buttons {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    height: 40px;
    width: 238px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
}
.form_control {
    height: 40px;
    padding-left: 15px;
    width: 290px;
    max-width: 300px;
    border: none;
    background: #FFFFFF;
    border-radius: 20px;
}

    .form_control::placeholder {
        font-style: normal;
        font-weight: normal;
        margin-left: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #ABCD2D;
    }
    .form_control:focus {
        outline: none;
    }
.form_q {
    text-align: center;
    align-items: center;
    display: grid;
}
.form_item_Question {
    margin-top: 15px;
}
.form_control_Question {
    padding: 10px;
    resize: none;
    background-color: white;
    width: 28vw;
    min-width: 310px;
    height: 140px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ABCD2D;
}
    .form_control_Question::placeholder {
        color: #ABCD2D;
    }
    .form_control_Question:focus{
        outline: none;
    }
.question_selector {
    color: #ABCD2D;
    min-width: 310px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    appearance: none;
    border: 0 !important;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    width: 28vw;
    height: 40px;
    min-width: 310px;
    padding: 5px 40px 5px 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ABCD2D%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .9em top 50%, 0 0;
    background-size: .65em auto, 10%;
}
        .question_selector:focus {
          outline:none;
        }
select::-ms-expand {
    display: none;
}
.options {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    border: none;
}
.mt_2{
    margin-top: 10px;
    margin-left: 15vw;
}
.plant{
    display: none;
}
.in_menu {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 34px;
    background-color: #ABCD2D ;
    margin-bottom: -10px;
}
    .in_menu:hover {
        background-color: #ABD60E !important;
        
    }

.payment_map_container {
    margin: 3vh 6vw 6vh 6vw;
    font-family: Georgia;
}


.control_panel_block {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #ABCD2D;
    border-radius: 25px;
    margin: 10px 550px 15px 20px;
}
.map_option {
    height: 70vh !important;
    width: 60vw !important;

}
.pay_map_container {
    display: flex;
}
.pay_container {
    min-height: 400px;
    min-width:320px;
    max-height: 620px;
    width: 20vw;
    background-color: #ABCD2D;
    border-radius: 40px;
    margin: 40px 20px 40px 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.plat_for_home {
    margin-top: 67vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Georgia;
}
.home_plant {
    height: 40px;
    font-family: 20px;
    border: 2.5px solid #819F00;
}
.google-visualization-tooltip{
    border-radius: 25px !important;
    
}
.google-visualization-tooltip-item {
    padding: 0em 1em 0em 1em !important;
    margin: 5px 0px 0px 0px !important; 
}
    .google-visualization-tooltip-item span {
       overflow-wrap: normal;
        color: #ABCD2D !important;
        display: block;
        font-size: 18px !important;
    }
.google-visualization-tooltip-item-list .google-visualization-tooltip-item:last-child span{
    justify-content: center;
    display: flex;
    font-size: 16px !important;
    color: #EF8C39 !important;
}
@media only screen and (max-height: 900px) {
    .plat_for_home {
        font-family: 18px;
        margin-top: 64vh;
    }
}
@media only screen and (max-height: 600px) {
    .main_title_block {
        margin-top: 90vh;
    }
    .plat_for_home {
        margin-top: 80vh;
    }
}

@media only screen and (max-width: 1550px) {
    .goal_buttons {
        margin-left: 5vw;
    }
    .sub_title,
    .second_sub_title {
        font-size:3.5vw;
    }
    .text_container {
        margin-left: 2vw;
    }
}

@media only screen and (max-width: 1020px){
    .controlpanel_block {
        width: 38vw;
        min-width: 310px;
    }
    .rb {
        margin: unset;
    }
    .region_button {
        margin: 10px;
        margin-top: 0px;
        margin-right: 0px;
    }
    #map {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1300px) {
    .control_panel_block {
        width: 38vw;
        min-width: 310px;
    }
    .rb {
        margin: 10px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .goal_buttons {
        margin-left: unset;
    }

    .details_button {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right:auto;
    }

    .plant_button {
        margin-left: unset;
    }
}

@media only screen and (max-height: 650px), (max-width: 1200px) {
    .pay_map_container{
        display: block;
    }
    .map_option{
        width: 80vw !important;
    }
    .plant {
        display: inline-block;
    }
    .join_form{
        margin-left: 10vw;
    }
    .jointous_block {
        display: inline-block;
    }

    .card_team {
        justify-content: center;
        display: grid;
        margin: 25px 0px 0px 0px;
    }

    .quote_container {
        display: none;
    }


    .logo_icon {
        margin: unset;
        margin-top: -10px;
        height: 40px;
    }

    .page_body_container {
        margin-top: 220px;
    }

    .adaptive_navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #menu_button_container {
        display: block;
    }

    .nav_menu {
        overflow: hidden;
        box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
        display: none;
        position: absolute;
        top: 55px;
        background-color: white;
        left: 0px;
    }

    .nav_item_postion {
        margin-right: unset;
        display: block !important;
        flex-direction: column-reverse !important;
    }

        .nav_item_postion li {
            margin-top: 10px !important;
            margin-left: 0px !important;
        }

    .account_container {
        position: relative;
        top: unset;
        right: unset;
        display: flex;
        justify-content: center;
    }

    .account_button {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .admin_panel_box {
        min-width: 140px;
        margin-top: 19px;
        margin-left: 10px;
        position: relative;
        right: unset;
        text-align: center;
    }

    .Login_form {
        padding-bottom: 5px;
        text-align: center;
    }

    .container {
        max-width: none !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .sub_title,
    .second_sub_title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 800px) {
    .goal_buttons{
        display:inline-grid;
    }
    .control_panel_block {
        margin: unset;
        margin-bottom: unset;
        margin-bottom: 10px;
    }
    .map_container {
        margin-left: -5%;
    }
    #map {
        height: 50vh;
        width: 85vw;
    }
    .main_sub_title{
        font-size: 20px;
    }
    .main_title_block {
        margin-top: 76vh;
    }
    .main_title{
        font-size: 38px;
    }
    .title_box {
        font-size: 30px;
    }

    .controlpanel_block {
        margin: unset;
        margin-bottom: 10px;

    }
    .goal_container {
        margin-left: unset;
        display: grid;
        justify-content: center;
        text-align: center;
    }
    #map {
        margin-left: unset;
    }

    .donut_single {
        margin: unset;
        margin-left: auto;
        margin-right: auto;
    }

    .text_block {
        margin-left: unset;
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .bottom_rood_container {
        margin-left: 7vw;
    }
}

@media only screen and (max-width: 600px) {
    .text_in_center{
        font-size: 8vw;
        margin: 30px auto;
    }
    .controlpanel_block {
        margin-left: -15px;
    }
    .title_box {
        margin: unset;
        margin-left: -15px;
    }
    .map_container {
        margin-left: -9%;
    }
    #map {
        height: 55vh !important;
        width: 90vw !important;
    }
    .pay_container {
        margin-top: 40px;
        margin-right: 20px;
        margin-bottom: 40px;
        margin-left: 0px !important;
    }
    .plat_for_home{
        margin-top: 70vh;
    }
    .home_plant {
        
    }
}


@media only screen and (max-width: 800px) {
    .join_title, .question_title, .text_box {
        margin: unset;
    }
    .sub_title,
    .second_sub_title {
        font-size: 6vw;
    }
    .card_q {
        min-width: 330px;
    }
   
    .join_form,
    .question_form {
        margin: unset;
        margin-left: -10px;
        margin-right: auto;
        margin-top: 25px;
        justify-content: center;
        display: grid;
    } 
    .join_form {
        margin-left: -20px;
    }
    .card_team{
        min-width: 330px;
        width: 80vw;
    }
    .bottom_rood_container .svg_rood1:nth-child(2) {
        margin-left: 10vw;
    }
    .top_rood_container .m_op {
        margin-left: 0vw !important;
    }
    .images:nth-child(2){
        position: absolute;
        right: 0px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .years_container:nth-child(4) {
        margin-top: 100px;
    }
    .text_uotside_text_box:nth-child(1){
        margin-top: 260px;
    }

    .top_rood_container .svg_rood1 {
        margin-left: 45vw;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top_rood_container .svg_rood2:first-child {
        margin-left: -60vw;
    }

    .top_rood_container .svg_rood2 {
        margin-left: -35vw;
    }

    .years_container:nth-child(2) {
        margin: 12vh 12vw 6vh 12vw;
    }

    .bottom_rood_container {
        margin-top: unset;
    }
}


.nav_menu.menu-closed {
    display: inline-block;
    animation: close-menu-animation 0.5s;
}

.nav_menu.menu-opened {
    display: inline-block;
    animation: open-menu-animation 0.5s;
}



@keyframes close-menu-animation {
    0% {
        height: 233px;
    }

    100% {
        height: 0px;
    }
}

@keyframes open-menu-animation {
    0% {
        height: 0px;
    }

    100% {
        height: 233px;
    }
}
