@model Floresta.Models.News
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label">Content</label>
        <input type="text" asp-for="Content" class="form-control" />
    </div>
    <div>
        <input type="text" asp-for="Image" hidden />
        <img src="~/images/news/@Model.Image" />
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" accept="image/*" type="file" />
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>