@model IEnumerable<Floresta.Models.News>
@{
    ViewData["Title"] = "Новини";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/NewsStyle1.css" />
<span class="news">Новини</span>
@foreach (var item in Model)
{

    <div class="news_card">
        <div class="img_container">
            <img class="news_img" src="~/images/news/@item.Image" />
        </div>
        <div class="new_boby">
            <div class="news_title_block">
                <p class="news_title">@item.Title</p>
            </div>
            <div class="new_context">
                @item.Content
            </div>
            <div class="news_date">
                @item.DatePublished
            </div>
            <div class="reed_block">
                <a class="reed_btn" asp-action="ReadNews" asp-route-id="@item.Id">Читати</a>
            </div>
        </div>
    </div>
}
