@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager;
@model IEnumerable<Floresta.Models.News>
@{
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/NewsStyle.css" />
<span class="news">Новини</span>
@foreach (var item in Model)
{

    <div class="news_card">
        <div class="img_container">
            <img class="news_img" src="~/images/news/@item.Image" />
        </div>
        <div class="new_boby">
            <div class="news_title_block">
                <p class="news_title">@item.Title</p>
            </div>
            <div class="new_context">
                @item.Content
            </div>
            <div class="reed_block">
                @*<form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>*@
                <button class="reed_btn">Читати</button>
            </div>
        </div>
    </div>
}
