@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager;
@model IEnumerable<Floresta.Models.News>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/News_Style.css" />
<span class="news">Новини</span>
@foreach (var item in Model)
{

    <div class="news_card">
        <div class="img_container">
            <img class="news_img" src="~/images/news/@item.Image" />
        </div>
        <div class="new_boby">
            <div class="news_title_block">
                <p class="news_title">@item.Title</p>
            </div>
            <div class="new_context">
                @item.Content
            </div>
            <div class="news_date">
                26 листопада 2003
            </div>
            <div class="reed_block">
                <button class="reed_btn">Читати</button>
            </div>
        </div>
    </div>
}
