@model News
@{
    ViewData["Title"] = "Read News";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ReadNews_Style.css" />
<div class="news_block">
    <div class="news_container">
        <div class="title_block">
            @Model.Title
        </div>
        <div class="news_container_block">
            <div class="news_left_block">
                <img class="img_block" src="/images/news/@Model.Image" />
            </div>

            <div class="contented_block">
                <div class="line_w1"></div>
                <div class="line_w3"></div>
                <div class="context_block">
                    <p>
                        @Model.Content
                    </p>
                    <div class="news_date">
                        @Model.DatePublished
                    </div>
                </div>
                <div class="line_w2"></div>
                <div class="line_w4"></div>
                <div class="line_w1"></div>
            </div>
        </div>

    </div>
</div>