@*
 
*@
@{
    ViewData["Title"] = "Read News";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ReadNews_Style.css" />
<div class="news_block">
    <div class="news_container">
        <div class="title_block">
    Some Title dsadasd asda dasdad asd asda das
</div>
        <div class="news_container_block">
            <div class="news_left_block">

                <img class="img_block" src="/images/news/1203041646.jpg" />
            </div>

            <div class="contented_block">
                <div class="line_w1"></div>
                <div class="line_w3"></div>
                <div class="context_block">
                    <p>
                        Грудень вважається найбільш споГрудень вважається найбільш спокійним і найменш завантаженим днем року. Здавалося б, які роботГрудень вважається найбільш спокійним і найменш завантаженим днем року. Здавалося б, які роботГрудень вважається найбільш спокійним і найменш завантаженим днем року. Здавалося б, які роботкійним і найменш завантаженим днем року. Здавалося б, які роботи можуть проводитися в цьому місяці? Урожай вже давно зібраний, а багаторічні квіти і овочі на весну вже посіяні в листопаді.Грудень вважається найбільш спокійним і найменш завантаженим днем року. Здавалося б, які роботи можуть проводитися в цьому місяці? Урожай вже давно зібраний, а багаторічні квіти і овочі на весну вже посіяні в листопаді.
                    </p>
                    <div class="news_date">
                        26 листопада 2003
                    </div>
                </div>
                <div class="line_w2"></div>
                <div class="line_w4"></div>
                <div class="line_w1"></div>
            </div>
        </div>
        
    </div>
</div>