@model IEnumerable<Floresta.Models.User>


@{ Layout = "~/Views/Shared/_Admin_Layout.cshtml";
        }

<h2>Users List</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access Rights</a>
            </td>
        </tr>
    }
</table>