@model Floresta.Models.Seedling
@{
    ViewBag.Title = "Add Seedling";
}
<form asp-action="Create" asp-controller="Seedlings">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Height" class="control-label">Height</label>
        <input type="text" asp-for="Height" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label">Amount</label>
        <input type="text" asp-for="Amount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default" />
    </div>
</form>