@model Floresta.ViewModels.PaymentViewModel

<link rel="stylesheet" href="~/css/paymentStyles.css">
<div class="checkout_form">
    <div class="card_number" id="card-container">
        <input type="text" class="input" id="card" placeholder="0000 0000 0000 0000">
        <div id="logo"></div>
    </div>
    <div class="card_grp">
        <div class="expiry_date">
            <input type="text" class="expiry_input" data-mask="00" placeholder="00">
            <input type="text" class="expiry_input" data-mask="00" placeholder="00">
        </div>
        <div class="cvc">
            <input type="text" class="cvc_input" data-mask="000" placeholder="000">
            <div class="cvc_img">
                ?
                <div class="img">
                    <img src="https://i.imgur.com/2ameC0C.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn" asp-action="ConfirmPayment">Pay</a>
    </div>
</div>
<script src="~/js/card-validator.js"></script>