@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager;
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;

@{ 
    User user = new Floresta.Models.User();
    if (signInManager.IsSignedIn(User))
        user = await userManager.FindByNameAsync(User.Identity.Name);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Floresta</title>
    <link rel="stylesheet" href="~/css/HomeStyle.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="adaptive_navbar  navbar-expand-sm">
            <a class="Big_site_logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Home page/Site icon.svg" class="logo_icon" /></a>
            <div class="nav_menu">
                <div class="container">
                    <ul class="navbar-nav flex-grow-1 nav_item_postion ">
                        <li class="nav_container">
                            <div class="menu_conteiner">
                                <a class="nav_item_text" href="/#Join_to_us">Приєднатися до команди</a>
                            </div>
                        </li>
                        <li class=" nav_container">
                            <div class="menu_conteiner">
                                <a class="nav_item_text" asp-area="" asp-controller="Home" asp-action="Index1">Новини</a>
                            </div>
                        </li>
                        <li class=" nav_container">
                            <div class="menu_conteiner">
                                <a class="nav_item_text" asp-controller="Map" asp-action="Index">Посадити дерево</a>
                            </div>
                        </li>
                        <li class=" nav_container">
                            <div class="menu_conteiner">
                                <a class="nav_item_text" href="/#ask_question">Задати питання</a>
                            </div>
                        </li>
                    </ul>
                </div>
                @if (!signInManager.IsSignedIn(User))
                {
                    <div class="account_container">
                        <form class="Login_form" method="post" asp-controller="Account" asp-action="Login">
                            <input class="account_button button_text" type="submit" value="Вхід/Реєстрація" />
                        </form>
                    </div>
                }
                else
                {
                    <div class="account_container">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                        {
                            <div class="admin_panel_box">
                                <a class="admin_panel" asp-controller="Admin_Home" asp-action="Index">Адмін панель</a>
                            </div>
                        }
                        <form class="Login_form" method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="account_button button_text">
                                @if (user != null)
                                {
                                    <span class="user_Ntext"> @user.Name @user.UserSurname </span>  
                                }
                                <span class="iconify out_icon" data-inline="false" data-icon="ic:round-log-in"></span>
                            </button>
                        </form>

                    </div>
                }
            </div>
            <button id="menu_button_container">
                <div class="animated_menu_icon" />
            </button>
        </nav>
        <div class="main_title_block">
            <div class="main_title">
                Посадіть дерево
            </div>
            <div class="main_sub_title">
                Ви зможете посадити дерево в своєму місті та <br /> приєднатись до руху	захисту дерев
            </div>
        </div>
    </header>


    <div class="page_body_container">
        @RenderBody()
    </div>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
