@model Floresta.Models.Marker
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<form asp-action="Edit" asp-controller="Map">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Назва</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PlantCount" class="control-label">Кількість місць</label>
        <input type="number" asp-for="PlantCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Lat" class="control-label">Довгота</label>
        <input type="text" asp-for="Lat" class="form-control"  readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Lng" class="control-label">Широта</label>
        <input type="number" asp-for="Lng" class="form-control" readonly />
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-default" />
    </div>
</form>