@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager;
@model Floresta.ViewModels.PaymentViewModel
@{
    ViewData["Title"] = "Map Page";
}
<!DOCTYPE html>
<html>
<head>

    <title> Google Map </title>
</head>
<body>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
    {
        <form asp-action="index" asp-controller="map">
            <div>
                <div class="validation" asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input type="text" asp-for="Title" class="form-control-sm" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlantCount" class="control-label">PlantCount</label>
                    <input type="number" asp-for="PlantCount" class="form-control-sm" min="1" />
                    <span asp-validation-for="PlantCount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lng" class="control-label">Lng</label>
                    <input id="lng" type="text" asp-for="Lng" class="form-control-sm" readonly />
                    <span asp-validation-for="Lng"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lat" class="control-label">Lat</label>
                    <input id="lat" type="text" asp-for="Lat" class="form-control-sm" readonly />
                    <span asp-validation-for="Lat"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-default" />
                </div>
            </div>
        </form>
    }

    <div id="map-dialog1">
        <div>
            <input id="pac-input" class="controls" type="text" placeholder="Search any location" />
        </div>
    </div>

    <div class="payment_map_container">
        <div class="map_block">
            <div class="control_panel_block">
                <span class="control_title">Область:</span>
                <div class="contol-item">
                    <button class="region_button region_selected rb">Івано-Франківська</button>
                    <button class="region_button rb">Львівська</button>
                    <button class="region_button rb">Тернопільська</button>
                </div>
            </div>
            <div class="pay_map_container">
                <div id="map" class="map_option"></div>
                <div class="pay_container">
                    <form class="form" asp-action="Index" asp-controller="Payment" method="get">
                        <div>
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <input id="markerIdInput" type="hidden" asp-for="MarkerId" />

                            </div>
                            <div class="form-group">

                                <label asp-for="Title" class="control-label">Title</label>
                                <input id="markerTitleInput" type="text" asp-for="Title" class="form-control-sm" readonly />
                                <span asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SeedlingId" class="control-label">Seedling</label>
                                <select id="seedlingsDropdown" class="dropdown" asp-for="SeedlingId" asp-items="@Model.Seedlings"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="PlantCount" class="control-label">PlantCount</label>
                                <input id="plantCountInput" class="form-control-sm" type="number" asp-for="PlantCount" min="0" max="0" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Purchase" class="btn btn-success" />
                            </div>
                        </div>
                        <div class="form_buttons cancel_select">
                            <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
                            <button type="submit" class="pay_button">Оплатити</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/map.js"></script>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
    {
        <script src="~/js/adminMap.js"></script>
    }

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAs2pYpMXar3INreWFXbUNVA8k1LtC35oM&region=UK&language=uk&callback=initMap">
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>