@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager;
@model Floresta.ViewModels.PaymentViewModel
@{
    ViewData["Title"] = "Map Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/Payment_Style.css" />
    <title> Google Map </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/images/Ws-small-icon.png" />
</head>
<body>
    <a class="Big_site_logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Home page/Site icon.svg" class="logo_icon" /></a>
    @*<div id="map-dialog1">
            <div>
                <input id="pac-input" class="controls" type="text" placeholder="Search any location" />
            </div>
        </div>*@

    <div class="payment_map_container">
        <div class="map_block">
            <div class="title_box">
                <span class="home_title">Посадити дерево</span>
            </div>
            <div class="control_panel_block">
                <span class="control_title">Область:</span>
                <div class="contol-item">
                    <button class="region_button region_selected rb">Івано-Франківська</button>
                    <button class="region_button rb">Львівська</button>
                    <button class="region_button rb">Тернопільська</button>
                </div>
            </div>
            <div class="pay_map_container">
                <div id="map" class="map_option"></div>
                <div class="container_panel">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                    {
                    <div class="map_admin_panel">
                        <form asp-action="index" class="form" asp-controller="map">
                            <div class="admi_block">
                                <span class="title_admin_panel">Адмін панель</span>
                                <div class="validation" asp-validation-summary="All"></div>
                                <div class="form_item">
                                    <input type="text" placeholder="Заголовок" asp-for="Title" class="form_control_sm" />
                                </div>
                                <div class="form_item">
                                    <label asp-for="PlantCount" class="control-label">Кількість місь для посадки</label>
                                    <input type="number" asp-for="PlantCount" class="form_control_sm" min="1" />
                                </div>
                                <div class="form_item">
                                    <input id="lng" type="hidden" asp-for="Lng" class="form_control_sm" readonly />
                                    <span asp-validation-for="Lng"></span>
                                </div>
                                <div class="form-group">
                                    <input id="lat" type="hidden" asp-for="Lat" class="form_control_sm" readonly />
                                    <span asp-validation-for="Lat"></span>
                                </div>
                                <div class="form_item">
                                    <button type="submit" class="Create_m_btn">Створти</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    <div class="pay_container">
                        <form class="form" asp-action="Index" asp-controller="Payment" method="get">
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <input id="markerIdInput" type="hidden" asp-for="MarkerId" />
                            </div>
                            <div class="form_item">
                                <div class="plant_c_block">
                                    <div class="main_title_block">
                                        <span>Кількість дерев</span>
                                    </div>
                                    <div class="counter_block">
                                        <span class="group_btn">
                                            <button class="count_btn" type="button">-</button>
                                        </span>
                                        <input id="plantCountInput" class="counter_area" type="text" asp-for="PlantCount" min="1" max="10" value="1" step="1" />
                                        <span class="group_btn">
                                            <button class="count_btn" type="button">+</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="seedling_block">
                                    <div class="seedling_title_block">
                                        <span>Виберіть садженець</span>
                                    </div>
                                    <div class="seedling_box">
                                        <select id="seedlingsDropdown" class="dropdown" asp-for="SeedlingId" asp-items="@Model.Seedlings"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form_buttons cancel_select">
                                <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
                                <button type="submit" class="pay_button">Оплатити</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/MapStepper.js"></script>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
    {
        <script src="~/js/adminMap.js"></script>
    }

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAs2pYpMXar3INreWFXbUNVA8k1LtC35oM&region=UK&language=uk&callback=initMap">
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>