@model Floresta.ViewModels.ForgotPasswordViewModel
@{
    Layout= null;
}
<link rel="stylesheet" href="~/css/FogotPassword.css" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="~/images/Ws-small-icon.png" />
<title>Floresta - Forgot your password?</title>
<div>
    <div class="Login_title">
        <span class="sub_title">Забув</span>
        <br />
        <span class="sub_title margin_l7">Пароль</span>
        <div class="quote_container">
            <span class="quotes quote_text">
                “Дивно, що ми бачимо дерева
            </span><br />
            <span class="quotes quote_text margin_l5">
                і більше не дивуємося ними.”
            </span>
            <br />
            <div>
                <span class="author quote_text">Ральф Уолдо Емерсон</span>
            </div>
        </div>
    </div>
    <div class="card">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form_item">
                    <input type="email" placeholder="Електронна пошта" asp-for="Email" class="form_control" />
                </div>
            </div>
            <div class="form_buttons cancel_select">
                <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
                <input type="submit" class="login_button" value="Надіслати" />
            </div>
        </form>
    </div>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</div>