@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/FogotPassword.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="~/images/Ws-small-icon.png" />
<title>Forgot password</title>
<div class="alert alert-success alert_text" >
    Success! Для скидання пароля перейдіть за посиланням, <a asp-controller="Account" asp-action="Login" class="nav-link"> надісланим на електронну пошту</a>.
</div>