@model Floresta.ViewModels.LoginViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/LoginStyle.css" />
<meta name="viewport" content="width=device-width" />
<div>
    <div class="card">
        <form method="post" class="form" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form_item">
                <input type="email" placeholder="Електронна пошта" asp-for="Email" class="form_control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form_item">
                <input type="password" placeholder="Пароль" asp-for="Password" class="form_control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form_item">
                <a class="fogot_password">Забув пароль?</a>
            </div><br />
            <div class="form_item">
                <div class="Line_else">Або</div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe">Remember me</label>
            </div>
            <a asp-controller="Account" asp-action="Register">I don't have an account</a>
            <div class="form_buttons">
                <a class="cancel_button">Скасувати</a>
                <input type="submit" class="login_button" value="Вхід" />
            </div>
        </form>
    </div>
    
    
</div>
