@{
    ViewData["Title"] = "Reset password confirmation";
}

<link rel="stylesheet" href="~/css/FogotPassword.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="~/images/Ws-small-icon.png" />
<title>Floresta - Reset password</title>
<div class="alert alert-success alert_text">
    Ваш пароль успішно скинутий. Клацніть на наступне посилання <a asp-controller="Account" asp-action="Login" class="nav-link">Sign in</a>.
</div>