@model Floresta.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = null;
}

<link rel="stylesheet" href="~/css/ResretPassword.css" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="~/images/Ws-small-icon.png" />
<title>Reset password</title>
<div>
    <div class="Registeration_title">
        <span class="sub_title">Відновлення</span>
        <br />
        <span class="sub_title margin_l7">пароля</span>
        <div class="quote_container">
            <span class="quotes quote_text">
                “Хтось відпочиває сьогодні
            </span><br />
            <span class="quotes quote_text margin_l5">
                в тіні, тому що хтось посадив дерево
            </span>
            <br />
            <span class="quotes quote_text margin_l8">
                багато років тому.”
            </span>
            <br />
            <div>
                <span class="author quote_text">Уоррен Баффетт</span>
            </div>
        </div>
    </div>
    <div class="card">
        <form method="post" class="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form_item">
                <input type="email" asp-for="Email" placeholder="Електронна пошта" class="form_control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form_item">
                <input asp-for="Password" type="password" placeholder="Пароль" class="form_control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form_item">
                <input asp-for="ConfirmPassword" type="password" placeholder="Підтвердіть пароль" class="form_control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form_buttons cancel_select">
                <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
                <button type="submit" class="register_button">Відновити</button>
            </div>
        </form>
    </div>
</div>
