@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been successfully reseted. Click the following link to <a asp-action="Login">Sign in</a>.
</p>