@model Floresta.ViewModels.SendEmailViewModel
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<div class="container">
    <form method="post">
        <textarea class="form-control" asp-for="Message"></textarea>
        <input type="submit" value="Send" class="btn btn-primary mt-3" />
    </form>
</div>
