@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewData["Title"] = "Pruchases Diagrma";
}
    <div id="columnchart_purchases"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="~/js/statistics.js" ></script>