@*
   
*@
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewData["Title"] = "Pruchases Diagrma";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/js/PurchasesDiagram.js" ></script>
<div class="container-md">
    <div class="columnchart_purchases"></div>
</div>