@model Floresta.ViewModels.SendEmailViewModel 

<form method="post" >
    <textarea class="input" asp-for="Message"></textarea>
    <input type="submit" value="Send" class="btn btn-default" />
</form>