@model Floresta.ViewModels.SendEmailViewModel
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<form method="post">
    <textarea class="input" asp-for="Message"></textarea>
    <input type="submit" value="Надіслати" class="btn btn-default" />
</form>