@model Floresta.ViewModels.AnswerQuestionViewModel

<form method="post">
    <textarea class="input" asp-for="AnswerMessage"></textarea>
    <input type="submit" value="Add" class="btn btn-default" />
</form>
