@model Floresta.ViewModels.QuestionViewModel

    <form method="post">
        <textarea class="input" asp-for="Question"></textarea>
        <input type="submit" value="Add" class="btn btn-success" />
    </form>