@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/FAQ_Style1.css" />

<div class="faq_body"> 
    <div class="card_faq">
        <div class="title_faq">FAQ</div>
        <div class="item_container">
            <details class="faq_details">
                <summary class="faq_symmary">Floresta?</summary>
                <p class="faq__text">Ми - благодійна організація, яка займається захистом та відновленням зеленого оточення уже 2 місяці в таких областях України: Івано-Франківська, Львівська, Тернопільська.</p>
            </details> 
            <details class="faq_details">
                <summary class="faq_symmary">Досягнення проетку</summary>
                <p class="faq__text">Ми досягли невеликих вершин, але однаково нам є чим пишатись. Ми пишаємось тим, що парцюємо в низці областей України, пишеємось, що зібрали команду небайдужих однодумців для досягнення спільної мети, яка безумовно зробить позитивний внесок в майбутнє покоління.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Floresta в твоєму місті</summary>
                <p class="faq__text">Для цього вам потрібно написати нашому <a href="/#ask_question" class="nav-link">адміністратору</a> на рахунок вашого міста і адміністратор розгляне вашу пропозицію.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Що потрібно щоб стати членом команди?</summary>
                <p class="faq__text">Потрібне бажання зробити своє місто кращим та хоча б 1-2 години вільного часу в день присвячувати проекту. Якщо вище описане у вас є, тоді залишається заповнити форму на <a href="/#Join_to_us" class="nav-link">головній сторінці</a>, після чого ми з вами зв'яжемось.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Присутні знижки при купівлі великої кількості дерев?</summary>
                <p class="faq__text">Знижки присутні при засадженні однієї ділянки повністю, але перед купілею такої кількості вам буде потрібно <a href="/#ask_question" class="nav-link">зв'язатися з адміністратором</a>.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Чи можна мені самому посадити дерево у вибраному місці?</summary>
                <p class="faq__text">Так, ви можете купити у нас саджанець та посадити його у вибраній ділянці, тільки для цього вам потрібно <a href="/#ask_question" class="nav-link">зв'язатися з адміністратором</a> для отримання більш детальної інформації.</p>
            </details>
        </div>
        <div class="write_question"><a href="/#ask_question" class="nav-link">Задати питання</a></div>
    </div>
</div>