@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/FAQ_Style1.css" />

<div class="faq_body"> 
    <div class="card_faq">
        <div class="title_faq">FAQ</div>
        <div class="item_container">
            <details class="faq_details">
                <summary class="faq_symmary">Floresta?</summary>
                <p class="faq__text">Ми благодійна організація яка займається захистом та відновленням зеленого оточення уже 2 місяця в областях України(Івано-Франківськ, Львів, Тернопіль).</p>
            </details> 
            <details class="faq_details">
                <summary class="faq_symmary">Досягнення проетку</summary>
                <p class="faq__text">Ми досягли не великих вершин, але й на цей час нам є чим пишатись. Ми пишаємось тим що парцюємо в декількох регіонах України(Івано-Франківськ, Львів, Тернопіль), пишеємось що зібрали команду, не байдужих однодумців, для досягнення спільної мети достойної, спадщини для молодого покоління.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Floresta в твоєму місті</summary>
                <p class="faq__text">Для цього вам потрібно написати нашому <a href="/#ask_question" class="nav-link">адміністратору</a> на рахунок вашого міста і адмітстратор розгляне вашу пропозицію.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Що потрібно щоб стати членом команди?</summary>
                <p class="faq__text">Потрібде бажання зробити своє місто кращим та хоча б 1-2 години вільного часу в день приділяти проекту. Якщо вище описане в вас є тоді залишається заповнити форму на <a href="/#Join_to_us" class="nav-link">головні сторінці</a> після чого ми з вами зв'яжемось.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Присутні знижки при купівлі великої кількості дерев?</summary>
                <p class="faq__text">Знижки присутні при засадженні однієї ділянки повністю, але перед купілює такої кількості вам буде потрібно <a href="/#ask_question" class="nav-link">зв'язатися з адміністратором</a>.</p>
            </details>
            <details class="faq_details">
                <summary class="faq_symmary">Чи можна мені самому посадити дерево в цьому місці?</summary>
                <p class="faq__text">Так ви можете купити в нас саджанець та посадити його у вибрані ділянці тільки для цьго вам потрібно <a href="/#ask_question" class="nav-link">зв'язатися з адміністратором</a> для отримання більш детальнішої інформації.</p>
            </details>
        </div>
        <div class="write_question"><a href="/#ask_question" class="nav-link">Задати запитання</a></div>
    </div>
</div>