
@{
    ViewData["Title"] = "Home Page";
}

<h1>Test check for updates</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Log out" />
    </form>
}
else
{

    <a asp-controller="Account" asp-action="Login">Sign in</a>
    <a asp-controller="Account" asp-action="Register">Sign Up</a>
}