@model Floresta.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}

<div>
    <div class="years_container">
        <div class="title_box">
            <span class="home_title cancel_select">Посаджено за весь час</span>
        </div>
        <div class="years_goal">
            <div class="goal_container">
                <div id="donut_single"></div>
                <div class="text_container cancel_select">
                    <div class="goal_texts" id="usersSupportedDiv"><span class="iconify goal_icon" data-inline="false" data-icon="octicon:people-24"></span></div>
                    <div class="goal_texts" id="treesPlantedDiv"><span class="iconify goal_icon" data-inline="false" data-icon="bi:tree"></span></div>
                    <div class="goal_buttons">
                        <button class="details_button">Детальніше</button>
                        <button class="plant_button" onclick="location.href='@Url.Action("Index", "Map")'">Посадити дерево<span class="iconify shovel_icon" data-inline="false" data-icon="uil:shovel"></span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="years_container" id="How_we_work">
        <div class="title_box">
            <span class="home_title home_titleF cancel_select">Як ми працюємо?</span>
        </div>
        <div class="text_block">
            <div class="images">
                <img class="help_image cancel_select" src="~/images/Home page/Planet.svg" />
            </div>
            <div class="text_uotside_text_box cancel_select">
                <div class="top_rood_container">
                    <div class="svg_rood2"></div>
                    <div class="svg_rood1"></div>
                    <div class="svg_rood2"></div>
                </div>
                <div class="text_box">
                    <div class="help_title cancel_select">Ви вибираєте одну точку із точок на карті</div>
                    <div class="help_text_box cancel_select">
                        На карті показано точки у вашому місті, де <br /> можна висаджувати дерева
                    </div>
                </div>
                <div class="bottom_rood_container cancel_select">
                    <div class="svg_rood2"></div>
                    <div class="svg_rood3"></div>
                    <div class="svg_rood1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="years_container">
        <div class="text_block">
            <div class="text_uotside_text_box">
                <div class="top_rood_container cancel_select">
                    <div class="svg_rood2 m_op"></div>
                    <div class="svg_rood2"></div>
                    <div class="svg_rood3"></div>
                </div>
                <div class="text_box">
                    <div class="help_title cancel_select">Вибираєте саджанець</div>
                    <div class="help_text_box cancel_select">
                        На ваш вибір буде показано декілька видів <br /> саджанців, ви зможете вибрати будь-який з <br /> них
                    </div>
                </div>
                <div class="bottom_rood_container cancel_select">
                    <div class="svg_rood2"></div>
                    <div class="svg_rood1"></div>
                    <div class="svg_rood3"></div>
                </div>
            </div>
            <div class="images">
                <img class="help_image cancel_select" src="~/images/Home page/Sky island.svg" />
            </div>
        </div>
    </div>
    <div class="years_container">
        <div class="text_block">
            <div class="images">
                <img class="help_image cancel_select" src="~/images/Home page/Form.svg" />
            </div>
            <div class="text_uotside_text_box">
                <div class="top_rood_container cancel_select">
                    <div class="svg_rood2"></div>
                    <div class="svg_rood1"></div>
                    <div class="svg_rood2"></div>
                </div>
                <div class="text_box">
                    <div class="help_title cancel_select">Заповнюєте форму та опалачуєте послугу</div>
                    <div class="help_text_box cancel_select">
                        Заповнюючи форму, ви засвідчуєте свій вклад в рух відновлення природи.
                    </div>
                </div>
                <div class="bottom_rood_container cancel_select">
                    <div class="svg_rood2"></div>
                    <div class="svg_rood3"></div>
                    <div class="svg_rood1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="years_container">
        <div class="map_block cancel_button">
            <div class="title_box">
                <span class="home_title cancel_select">Де можна посадити дерева?</span>
            </div>
            <div class="controlpanel_block">
                <span class="control_title cancel_select">Область:</span>
                <div class="contol-item cancel_select">
                    <button class="region_button region_selected">Івано-Франківська</button>
                    <button class="region_button">Львівська</button>
                    <button class="region_button">Тернопільська</button>
                </div>
            </div>
            <div class="map_container">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="years_container">
        <div class="join_bg">
            <div class="jointous_block" id="Join_to_us">
                <div class="join_title">
                    <span class="sub_title cancel_select">Приєднуйтесь</span>
                    <br />
                    <span class="sub_title margin_l7 cancel_select">до нашої команди</span>
                    <div class="quote_container">
                        <span class="quotes quote_text cancel_select">
                            “Допоможіть нам
                        </span><br />
                        <span class="quotes quote_text margin_l5 cancel_select">
                            озеленити  Україну!”
                        </span>
                    </div>
                </div>
                <div class="join_form">
                    <div class="card_team">
                        <form class="form" asp-action="JoinTeam">
                            <div class="form_item">
                                <input placeholder="Номер телефону" asp-for="PhoneNumber" class="form_control" />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form_buttons cancel_select">
                                <button type="submit" class="send_button">Надіслати</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="text_in_center cancel_select">Або</div>
            <div class="ask_question_block" id="ask_question">
                <div class="question_title">
                    <span class="sub_title cancel_select">Задайте </span><span class="cancel_select second_sub_title">питання</span>
                </div>
                <div class="question_form">
                    <div class="card_q">
                        <form class="form_q" asp-action="AskQuestion" method="post">
                            <div class="form_item_Question">
                                <select class="question_selector">
                                    <option class="options">Запитання</option>
                                    <option class="options">Що потрібно щоб стати членом команди?</option>
                                    <option class="options">Присутні знижки при купівлі великої кількості дерев?</option>
                                    <option class="options">Чи можна мені самому посадити дерево в цьому місці?</option>
                                </select>
                            </div>
                            <div class="form_item_Question">
                                <textarea placeholder="Доповнення до запитання" class="form_control_Question" asp-for="Question"></textarea>
                            </div>
                            <div class="form_buttons cancel_select mt_2">
                                <button type="submit" class="send_button">Надіслати</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/homeMap.js"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAs2pYpMXar3INreWFXbUNVA8k1LtC35oM&region=UK&language=uk&callback=initMap">
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/chart.js"></script>
</div>