@model Floresta.ViewModels.ShowUserViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@Model.Name @Model.Surname </p>
    <p>@Model.Email </p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Log out" />
    </form>
}
else
{

    <a asp-controller="Account" asp-action="Login">Sign in</a>
    <a asp-controller="Account" asp-action="Register">Sign Up</a>
}