@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager;

@{
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
    <div ba>
        
    </div>



    @Html.ActionLink("Жми здесь", "Index", "Admin_Home")
    <h1>H2</h1>
